@media(min-width:992px) and (max-width:1199.998px){
    /* navbar */
    .search_btn {
        margin-left: -155px;
    }
    .header_input input {
        width: 70%;
    }
   



    .hero_left {
        margin: 0 0 0 23px;
    }
    .circle {

        height: 80px;
        width: 80px;
        line-height: 80px;
    }
    .circle h6 {
        padding: 18px 0 0 0;
    }
    .circle h5 {
        font-size: 17px;
    }
    .speaker_content h6 {
        font-size: 15px;
    }
    .speaker_content span {
        font-size: 15px;
    }
    .product_items_img img {
        width: 150px;
    }
    .product_items1 h4 {
        font-size: 16px;
        margin-top: 20px;
    }
    .cart span {
        font-size: 12px;
    }
    .cart i {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 8px;
        margin-left: 10px;
    }
    .eye {
        padding: 8px;
    }
    .eye i {
        padding-top: 8px;
    }
    .sales_part::after {
        width: 148%;
        left: -30%;
    }
    .sales_imtes h3 {
        font-size: 34px;
    }
    .jbl_img img {
        max-width: 150px;
    }
    .jbl_right_one {
        margin-bottom: 50px;
    }
    .logo_items img {
        max-width: 150px;
    }
    .email input {
        width: 82%;
    }
    .fot_head p {
        font-size: 11px;
    }
    .sub {
        font-size: 20px;
    }
    .footer_three{
        margin-left: 30px;
    }
    .quanityss {
        padding-left: 90px;
    }
    .tables_rights {
        width: 100%;
    }
    .width_100{
        width: 100%;
        margin-bottom: 80px;
    }
}
@media(min-width:768px) and (max-width:991.998px){
    .offsets{
        margin-left: 0;
    }
    .hero_right img {
        max-width: 250px;
    }
    .circle {
        bottom: 16%;
        right: 9%;
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .circle h6 {
        font-size: 16px;
        padding: 13px 0 0 0;
    }
    .circle h5 {
        font-size: 16px;
    }
    .hero_left {
        margin: 0 0 0 23px;
    }
    .speaker_content h6 {
        font-size: 20px;
    }
    .angle_icon {
        display: none !important;
    }
    .speaker {
        margin-bottom: 30px;
    }
    .product_cat {
        display: block!important;
    }
    .product_cat h2{
        text-align: center;
        margin-bottom: 20px;
    }
    #myTab{
        display: flex;
        justify-content:center;
    }

    .sales_part::after {
        width: 138%;
        left: -20%;
        opacity:0;
    }
    .delivery_Items {
        margin: 20px 0;
    }
    .savanath_items {
        margin-bottom: 30px;
    }
    .logo_items{
        margin: 20px 0;
    }
    .latest_items {
        margin-bottom: 30px;
    }
    .email input {
        margin-left: 20px;
    }
    .footer_two {
        margin-bottom: 40px;
    }
    .footer_four {
        margin-left:0px;
    }
    .customer_part {
        text-align: center;
    }
   #related_section .related_header h4 {
        text-align: center;
    }
    .table_btn {
        margin-bottom: 60px;
    }
    #catergoryis_part .categorys_right{
        margin-top: 50px;
    }
    .header_logo {
        margin-right: 20px;
    }
    .header_input input {
        width: 60%;
    }
    .header_input input {
        padding: 11px 23px;
        font-size: 12px;
    }
    .search_btn {
        font-size: 12px;
        margin-left: -144px;
    }
    .sign_in span {
        font-size: 12px;
    }
    .sign_in{
        margin-left: 5px;
    }
    .zero {
        font-size: 7px;
    }
    .navbar-nav li {
        padding: 0 5px;
    }
    .days {
        font-size: 11px;
    }
    .navbar-nav li a {
        font-size: 11px;
        font-weight: 500;
    }
    .btn_drops button{
        font-size:12px;
    }
    .dropdown-item {
        font-size: 12px;
    }
}
@media(min-width:576px) and (max-width:767.98px){
    .hero_right{
        text-align: center;
    }
    .hero_right img {
        max-width: 320px;
        margin: 40px 0;
    }
    .circle {
        bottom: 16%;
        right: 12%;
        height: 90px;
        width: 90px;
        line-height: 90px;
    }
    .circle h6 {
        padding: 19px 0 0 0;
    }
    .speaker {
        justify-content: space-around;
        margin: 20px 30px;
    }
    .product_cat {
        display: block!important;
    }
    .product_cat h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .product_cat .camerasbtn {
        font-size: 11px;
        margin: 0px 0 18px 10px;
        padding: 7px 13px;
        text-align: center;
    }
    #myTab{
        display: flex;
        justify-content: center;
    }
    .product_items1 {
        padding: 10px;
    }
    .cart {
        padding: 10px 14px 10px 10px;
    }
    .sales_part::after {
        display: none;
    }
    .sales_imtes {
    margin-left: 0;
    }
    .jbl_one_img img{
        max-width: 230px;
    }
    .jbl_one_items {
        padding-bottom: 30px;
    }
    .jbl_one_items {
        margin-bottom: 30px;
    }
    .jbl_right_one {
        justify-content: space-around;
    }
    .delivery_Items {
        margin:20px 0;
    }
    .savanath_items {
        margin-bottom: 30px;
    }
    .logo_items{
        margin:20px 0;
    }
    .latest_items {
        margin-bottom: 30px;
    }
    .email input {
        margin-left: 24px;
        margin-top: 12px;
        width: 80%;
    }
    .footer_one{
        margin:20px 0
    }
    .footer_two {
        margin: 28px 0 20px 0;
    }
    .footer_four {
        margin-left: 0;
    }
    .slick_sliders  ul li button{
        display: none;
    }
    .table_left table tr th:last-child{
        display: none!important;
    }
    .displays{
        display: none!important;
    }
    .table_btn {
        margin-bottom: 100px;
    }
    .continue a {
        padding: 14px 24px;
    }
    .update a {
        padding: 13px 25px;
    }
}


@media (max-width:767.98px){  
    .offsets{
        margin-left: 0;
    }  
    .angle_icon {
        display: none!important;
    }
    #header_one {
        display: none;
    }
    #header_two {
        display: none;
    }
    .navbar_nav{
        background-color:var(--primary-color);
        height: 70px;
        
    }
    .mobile_logo img{
    margin: 15px 25px;
    }
    .mobile_menus{
      margin:10px 38px 0 0;
    }
    .mobile_menus i{
        font-size: 20px;
        color: #fff;
    }
    .offsscans{
        z-index: 999999999999;
    }
    


    #offcanvasRight{
        background-color:rgb(243, 227, 227);
    }
}
@media (max-width:575.98px){

    /* hero part responsive */
    .hero_left {
        margin-left:20px;
        
    }
    .hero_btn .view {
        padding: 10px 19px;
    }
    .hero_btn .shop {
        padding: 12px 22px;
    }
    .offsets{
        margin-left: 0;
        padding-top: 40px;
    }
    .hero_right{
        margin:0 30px;
    }
    .circle h6 {
        font-size: 15px;
        padding: 14px 0 0 0;
    }
    .circle h5 {
        font-size: 15px;
    }
    .circle {
        bottom: 10%;
        right: 7%;
        height: 70px;
        width: 70px;
        line-height: 70px;;
    }
    #speaker_part {
        margin: 55px 0 50px 0;
    }
    .speaker {
        margin: 20px;
    }
    .speaker_content h6 {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .speaker_content span {
        font-size: 14px;
    }
    .speak img {
       margin-top: 0;
    }
    .angle_icon {
        display: none !important;
    }
    .product_cat {
        display: block!important;
    }
    .product_cat h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .product_cat .camerasbtn {
        font-size: 11px;
        margin: 0px 0 18px 10px;
        padding: 7px 13px;
    }
    .product_items1 {
        margin: 20px 30px;
    }
    .product_items1 {
        padding: 20px;
    }
    .product_items_img img {
        width: 160px;
    }
    .sales_imtes {
    margin-left: 0px;
    }
    .sales_imtes h3 {
        font-size: 29px;
    }
    .sales_imtes h4 {
        font-size: 14px;
    }
    .sales_part::after {
        display: none;
    }
    .jbl_one_items{
        display: block!important;
        border:none;
        border: 1px solid #ACACAC;
        margin:25px 20px;
    }
    .jbl_content {
        margin-top:0px;
        margin-left: 30px;
    }
    .jbl_one_img{
        text-align: center;
    }
    .jbl_one_img img{
        width: 250px;
    }
    #jbl_part {
        margin-top: 40px;
    }
   .add_tos {
    margin-bottom:20px;
   }
   .jbl_content {
	margin:40px 0 0 0;
    text-align: center;
}
.jbl_right_one {
	margin: 20px 7px;
}
#delivery_section {
	margin: 0 10px;
}
.delivery_Items {
    margin:20px 0;
}
.delivery_content h4 {
	font-size: 20px;
}
.delivery_content p {
	font-size: 13px;
}
#savanath_part {
	margin-top: 70px;
}
.savanath_items {
	margin: 20px 0;
}
.logo_items{
    text-align: center;
    margin:20px 0;
}
.latest_items {
    display: block!important;
    margin-bottom: 40px;
}
.latest_img img {
	max-width: 280px;
	margin-bottom: 20px;
}
#footer_part {
	padding:20px 0 0 0;
}
.email input {
	margin-left: 10px;
	width: 98%;
}
.sub {
	font-size: 22px;
}
.call_us {
    margin-top: 15px;
}
.footer_one p {
	padding-top: 15px;
    font-size: 12px;
}
.footer_one{
    margin: 30px 15px;
}
.footer_two {
	margin: 25px;
}
.footer_three{
    margin:25px;
}
.footer_four {
	margin-left: 31px;
}
#game_part .game3{
    margin:0 20px;
}
#game_part .game_left_btn {
    justify-content: center!important;
    margin-bottom: 25px;
}
#game_part .game_right{
    margin:0 20px;
}
#game_part  .game_btn a {
	padding: 13px 18px;
	font-size: 12px;
}
.game_iconsss i {
	margin: 2px 0 0 7px;
}
#related_section .related_header h4 {
	text-align: center;
}
.tables_rights{
    margin-top: 100px;
}
.table_left table tr{
    display: block!important;
}
.table_left table tr th {
	display: none;
}
.quanityss {
	display: none !important;
}
.displays{
    display: none!important;
}
.play_content {
	margin-top: 10px;
}
.doll {
	font-size: 15px;
}
.table_btn {
    display: block!important;
    text-align: center;
}
.update a {
	padding: 13px 57px;
  
}
.clear a {
	padding: 13px 65px;
}
#jbl_part .slick_sliders  ul li button{
    display: none;
}

}